@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root{
  --white:#FFFFF0;
  --IndianRed :#CD5C5C;
  --grey:#6f747ad2;
}

*{
  font-family: 'Roboto', sans-serif;
}

/* nav links */
nav a.nav-link{
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav li a{
  margin-right:12px;
  margin-left:12px;
  border-bottom: solid var(--grey);
  color: var(--white) !important;
}

.navbar-nav li a.active, .navbar-nav li a.active:focus{
  border-bottom: 3px solid var(--IndianRed);
}

.navbar-nav li a:hover{
  border-bottom: 3px solid var(--IndianRed);
}